.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/*
node_modules
.DS_STORE
.module-cache
*.log*
dist
tsconfig-common.json
tsconfig.json
tsconfig-node.json
tslint.json
test/tslint.json
test/mockDom.ts
