.idea/workspace.xml
node_modules
.DS_STORE
.module-cache
*.log*
dist/*
!dist/.gitkeep
bash.exe.stackdump
tsconfig.common.json
tsconfig.library.json
tsconfig.json
tsconfig.node.json
tslint.json
test/tslint.json
test/mockDom.ts
test/reporter.ts
test/jasmine.js
Makefile
.gitattributes
.travis.yml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/jsLinters/tslint.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/watcherTasks.xml
